.App {
  margin: 0.5rem 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header-list {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 2rem;
  list-style-type: none;
}

.logo {
  border-radius: 2rem;
}

.footer,
.filter-btns,
.loading {
  display:flex;
  justify-content: center;
  align-items: center;
}

.main {
  min-height: 75vh;
}

.card {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 233, 231);
  margin: 2rem;
  border-radius: 5rem;
}

.filter-btns {
  gap: 2rem;
}

.filter-btns > button {
  padding: 1rem;
  background-color: blueviolet;
  border: none;
  border-radius: 2rem;
  font-size: larger;
  color: white;
}

.card > h3 {
  color: red;
}