.App {
  margin: 0.5rem 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header-list {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 2rem;
  list-style-type: none;
}

.logo {
  border-radius: 2rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  min-height: 75vh;
}